<app-navbar></app-navbar>
<main>
    <div class="position-relative">
        <!-- shape Hero -->
        <section class="section section-lg section-shaped pb-250">
            <div class="shape shape-style-1 shape-default">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="container py-lg-md d-flex">
                <div class="col px-0">
                    <div class="row">
                        <div class="col-lg-6">
                            <h1 class="display-3  text-white">Secure Web Messagerie
                                <span>Pour tous vos besoins d'envoi de message par le web</span>
                            </h1>
                            <p class="lead  text-white">Vous tenez un blog, un site web ou même une tontine et vous cherchez
                                un moyen d'envoyer par le web des messages à vos contacts ? Ne cherchez plus, nous avons la solution à
                                votre problème. Connectez-vous et vous pourrez profiter de notre incroyable service.
                            </p>
                            <div class="btn-wrapper">
                                <a [routerLink]="['/login']"
                                    class="btn btn-info btn-icon mb-3 mb-sm-0">
                                    <span class="btn-inner--icon"><i class="fa fa-code"></i></span>
                                    <span class="btn-inner--text">Se connecter</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- 1st Hero Variation -->
    </div>
</main>